$font-stack:    Helvetica, sans-serif;
$primary-color:pink;

.battleDetail {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  height: 700px;
  width: 70%;
  background-color: rgba(82, 78, 77, 0.65);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.pokebattle-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  padding: 0px;
  background: #3B4CCA;
  /* fallback for old browsers */
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
}
