$font-stack:    Helvetica, sans-serif;
$primary-color:black;
$secundary-color:#E86E7F;
$terciary-color: #f44336;

.battleDetail {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  height: 700px;
  width: 70%;
  background-color: rgba(82, 78, 77, 0.65);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.pokebattle-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  padding: 0px;
  background: #3B4CCA;
  /* fallback for old browsers */
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png');
}

.title {
  font-size: 30px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  color: $secundary-color;
}

.trainer{
  color:$terciary-color;
  font-weight: bolder;
}


.battle-detail-td {
  padding: 0 6px;
  width: fit-content;
}

.battle-detail-block {
  display: block;
}

.battle-detail-display {
  display: flex;
  justify-content: center;
}

.battle-detail-pokemon-name {
  text-align: center;
}

table {
  table-layout: fixed;
  margin: 10px;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  width: 33%;
  text-align:center;
  padding:5px
}

tr {
  vertical-align: top;
  text-align: center;
}
