{% extends 'battles/base.html' %}

{% block content %}

<h1>{{winner}} won! 🎉🎉 </h1>

<p>Score</p>
{{score}}

<p>Log</p>

<h3>Creator</h3>
<table>
  <tr>
    <th>name</th>
    <th>attack</th>
    <th>defense</th>
    <th>hp</th>
  </tr>

    {% for creator_pkm in creator_pkms %}
    <tr>
      <td> {{creator_pkm.name}}</td>
      <td> {{creator_pkm.attack}}</td>
      <td> {{creator_pkm.defense}}</td>
      <td> {{creator_pkm.hp}}</td>
    </tr>
    {% endfor %}

</table>

<h3>Opponent</h3>
<table>
  <tr>
    <th>name</th>
    <th>attack</th>
    <th>defense</th>
    <th>hp</th>
  </tr>

    {% for opponent_pkm in opponent_pkms %}
    <tr>
      <td> {{opponent_pkm.name}}</td>
      <td> {{opponent_pkm.attack}}</td>
      <td> {{opponent_pkm.defense}}</td>
      <td> {{opponent_pkm.hp}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
